@import './variables.css';

/* Reset & Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}
body {
  background-color: var(--color-black);
  color: var(--color-light-grey);
}
#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* Push footer down when content is short */
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* Images */
img {
  max-width: 100%;
  display: block;
}

/* Buttons */
button {
  font-family: var(--font-main);
  cursor: pointer;
}

/* Containers */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: var(--color-black);
}


