@import './variables.css';

/* Reset & Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}
body {
  background-color: var(--color-black);
  color: var(--color-light-grey);
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: var(--color-black);
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

