@import './variables.css';

.services-section {
  padding: 60px 0;
  background-color: var(--color-black);
  color: white;
}

.services-container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.services-heading {
  font-family: var(--font-main);
  font-size: 2.5rem;
  color: var(--color-blue);
  margin-bottom: 40px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.service-card {
  background-color: var(--color-dark-grey);
  padding: 25px;
  border-radius: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  text-align: center;
}

.service-card:hover {
  transform: translateY(-5px) !important;
  background-color: var(--color-black) !important;
}


.service-icon {
  font-size: 3rem;
  color: var(--color-red);
  margin-bottom: 15px;
}

.service-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: var(--font-main);
  color: var(--color-blue);
}

.service-description {
  font-size: 1rem;
  color: var(--color-light-grey);
  line-height: 1.4;
}
